<div style="padding-top: 60px"/>

<div style="padding-bottom: {{chatPadding}}">

    <ul class="list list-chats">
        <div ng-repeat="chat in chats">
            <li ng-show= chat.response class="w-clearfix list-chat" data-ix="list-item">
                <div class="column-left chat">
                    <div class="image-message chat"><img src="images/placeholder.png">
                    </div>
                </div>
                <div class="w-clearfix column-right chat">
                    <div class="arrow-globe"></div>
                    <div style="display: inline-block; word-break: normal" class="chat-text">{{chat.text}}</div>
                    <div class="chat-time">7 sec ago</div>
                </div>
            </li>
            <li ng-hide= chat.response class="list-chat right" data-ix="list-item">
                <div class="w-clearfix column-right chat right">
                    <div class="arrow-globe right"></div>
                    <div class="chat-text right" style="display: inline-block; word-break: break-all">{{chat.text}}</div>
                    <div class="chat-time right">just now</div>
                </div>
            </li>
        </div>

        <link rel="stylesheet" type="text/css" href="../css/w3.css">

        <div class="w3-content w3-display-container">
            <img class="mySlides" src="http://images.performgroup.com/di/library/goal_es/55/65/lionel-messi-barcelona-celtic-champions-league_1qfx5c28fl33u18x5tg5m8enm8.jpg?t=623069303&w=620&h=430" style="width:100%">
            <img class="mySlides" src="http://i.dailymail.co.uk/i/pix/2016/01/20/10/304BA95100000578-0-image-a-14_1453285204611.jpg" style="width:100%">


            <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
            <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>
        </div>

        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) {slideIndex = 1}
                if (n < 1) {slideIndex = x.length}
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex-1].style.display = "block";
            }
        </script>
    </ul>
</div>
    <div style="padding-top: 5%" id="scrollArea">

    </div>
<div  class="input-chat-block">
    <div class="w-form">
        <form method="post" ng-submit="sendMessage()" class="w-clearfix" id="wf-form-Send" name="wf-form-Send"  autocomplete="off">
            <input ng-model="msg" class="w-input input-chat" id="chat-message" type="text" placeholder="Your message" name="email" data-name="Email" required="required">
            <input class="w-button chat-button" type="submit" value="Send">
        </form>
    </div>
</div>
