<div style="padding-top: 60px"/>

<div style="padding-bottom: {{chatPadding}}">
    <ul class="list list-chats">
        <div ng-repeat="chat in chats">
            <li ng-show= chat.response class="w-clearfix list-chat" data-ix="list-item">
                <div class="column-left chat">
                    <div class="image-message chat"><img src="images/placeholder.png">
                    </div>
                </div>
                <div class="w-clearfix column-right chat">
                    <div class="arrow-globe"></div>
                    <div style="display: inline-block; word-break: normal" class="chat-text">{{chat.text}}</div>
                    <div class="chat-time">7 sec ago</div>
                </div>
            </li>
            <li ng-hide= chat.response class="list-chat right" data-ix="list-item">
                <div class="w-clearfix column-right chat right">
                    <div class="arrow-globe right"></div>
                    <div class="chat-text right" style="display: inline-block; word-break: break-all">{{chat.text}}</div>
                    <div class="chat-time right">just now</div>
                </div>
            </li>
        </div>
    </ul>
</div>
    <div style="padding-top: 5%" id="scrollArea">

    </div>
<div  class="input-chat-block">
    <div class="w-form">
        <form method="post" ng-submit="sendMessage()" class="w-clearfix" id="wf-form-Send" name="wf-form-Send"  autocomplete="off">
            <input ng-model="msg" class="w-input input-chat" id="chat-message" type="text" placeholder="Your message" name="email" data-name="Email" required="required">
            <input class="w-button chat-button" type="submit" value="Send">
        </form>
    </div>
</div>
