<div class="body" style="padding-top: 60px">
    <div class="hero-image">
        <div class="hero-image-title">
            <h2>Goals</h2>
            <div class="sub-title-small">&nbsp;3 of 10 tasks &nbsp;|&nbsp;&nbsp;75% completed</div>
        </div>
        <div class="hero-image-img"><img src="images/placeholder.png">
        </div>
    </div>
    <ul class="list">
        <li class="list-item highlighted" data-ix="list-item">
            <a class="w-clearfix w-inline-block">
                <input class="title-list" style="width:85%" placeholder="Add an item" ng-model="itemToAdd"></input>
                <div class="icon-list highlighted">
                    <div class="icon ion-ios-checkmark-empty" ng-click="addItem()"></div>
                </div>
            </a>
        </li>
        <li ng-repeat="item in items" class="list-item" data-ix="list-item">
            <a class="w-clearfix w-inline-block">
                <div class="icon-list highlighted">
                    <div class="icon ion-ios-close-empty" ng-click="print($index)"></div>
                </div>
                <input class="title-list" style="border-width: 0; width:85%" value={{item.name}}></input>
            </a>
        </li>
    </ul>
</div>
